__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env/
*.env
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
*.log
*.tmp
*.bak
build/
dist/
*.egg-info/
data/
models/
# Jupyter notebooks
.ipynb_checkpoints/
# Uncomment next line if you don't want notebooks in Git
*.ipynb
# Ignore vector store metadata changes
chroma_vector_store/*
!chroma_vector_store/*.sqlite3
!chroma_vector_store/*.parquet